# DB CONFIG API
SUPABASE_URL = "Your URL here"

#LLM API
OPENAI_API_KEY = "Your API key here"

#JWT
SECRET_KEY = "Your secret key here"
ALGHORITHM = "Your algorithm here"
EXPEDTION_TIME = "Your expiration time here"